@charset "UTF-8";
   div.all{
      border:1px solid;
      width:800px;
      margin:auto;
      
   }
   h2{
      text-align: center;
   }
   div button.addsaveBtn{
        margin-left:350px;
   }
   div button.endsaveBtn{
      float:right;
   }
   textarea{
   	width:700px;
   	height:500px;
   }
   span{
   	margin-right:100px;
   	margin-bottom:100px;
   }